@mixin f-style($fSize, $color, $fWeight) {
    font-size: $fSize;
    color: $color;
    font-weight: $fWeight;
}

.main-hero {
    position: relative;
    width: 100%;
}

.main__hero-banner {
    width: 100%;
    min-height: 470px;
}

.main__hero-content {
    top: calc(25%);
    left: calc(5%);
    position: absolute;

    h2 {
        @include f-style(33px, var(--light-color), 600);
        line-height: 40px;
        width: 480px;
    }

    p {
        margin-top: 15px;
        @include f-style(14px, var(--light-color), 400);
        line-height: 26px;
        width: 460px;

    }

    .shop-btn {
        margin-top: 15px;
        padding: 10px 25px;
        background-color: var(--light-color);
        color: var(--dark-color);
        border: none;
        font-size: 17px;
        left: 0.4px;
    }
}

.main__hero-bottom__content{
    display: flex;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    height: 400px;
    background: url(../../assets/images/mainBottomBg.svg) center;
}

.bottom__content{
    width: 100%;
    text-align:  center;
    h2{
        @include f-style(36px, var(--light-color), 700);
    }
    p{
        margin: 10px 0;
        @include f-style(21px, var(--light-color), 400);
    }
    span{
        // margin-top: 10px;
        @include f-style(14px, var(--light-color), 400);
    }
    button{
        display: block;
        margin: 24px auto 0;
        @include f-style(15px, var(--dark-color), 700);
        letter-spacing: 0.4px;
        padding: 13px 18px;
        border: none;
        background-color: var(--light-color);
    }
}
