.shopping__cart-title{
    font-size: 32px;
    margin-top: 30px;
    font-weight: 600;
    strong{
        color: #6c6c6c;
    }
}
.cart{
    margin-top: 50px;
    display: flex;
    column-gap: 60px;
}
.cart-container{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.notcard-container{
    margin: 130px 0;
    width: 100%;
    text-align: center;
    h2{
        font-size: 140px;
        color: rgb(160, 159, 159);
    }
    h3{
        font-size: 30px;
    }
    p{
        margin-top: 14px;
        font-size: 15px;
        font-weight: 400;
        a{
            font-size: 14px;
            color: #000;
            font-weight: 600;
        }
    }
}
.cart-box{
    display: flex;
    // align-items: center;
    justify-content: space-between;
    padding: 10px 14px;
    width: 716px;
    height: 200px;
    border: 1px solid #6c6c6ca1;
    border-radius: 4px;
    img{
        width: 192px;
        aspect-ratio: 1/1;
        border-radius: 5px;
    }
}
.cart-info{
    display: flex;
    flex-direction: column;
    h3{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p{
        font-size: 16px;
        width: 300px;
        margin-top: 8px;
        color: #191919;
        span{
            color: #6c6c6c;
            font-size: 16px;
        }
    }
}
.manage-action{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 40px;
    .cart-price{
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.6px;
    }
}
.control-action{
    
    display: flex;
    column-gap: 15px;
    button{
        font-size: 20px;
        border: none;
        background: transparent;
    }
}


.cart__info-wrapper{
    .delivery-text{
        margin: 0 0 10px 0;
        min-width: 480px;
        height: 40px;
        border: 1px solid #6c6c6ca1;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 6px;
        font-size: 17px;
        color: green;
        i{margin-top: 4px; font-size: 20px;}
    }
    .return-text{
        min-width: 480px;
        height: 40px;
        border: 1px solid #6c6c6ca1;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 6px;
        font-size: 16px;
        color: gray;
        i{margin-top: 4px; font-size: 20px;}
    }
}

.promocode-action{
    margin-top: 25px;
    width: 480px;
    // min-height: 130px;
}
.open-form{
    width: 480px;
    height: 65px;
    background-color: var(--gray-color);
    display: flex;
    align-items: center !important;
    padding: 0px 20px;
    justify-content: space-between;
    cursor: pointer;
    h4{
        font-weight: 200;
        font-size: 19px;
    }
    i{font-size: 17px;}
}

.entercode-form{
    margin-top: 15px;
    // display: flex;
    column-gap: 10px;
    width: 100%;
    input{
        width: 333px;
        height: 56px;
        outline: none;
        flex: 1;
        text-indent: 10px;
        font-size: 18px;
    }
    button{
        height: 56px;
        padding: 0px 30px;
        font-size: 18px;
        font-weight: 500;
        border: none;
        background-color: #BDC1C5;
        color: #191919;
        cursor: pointer;
    }
}
.product-count{
    width: 480px;
    .count-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        p, strong{
            font-weight: 600;
            color: #6c6c6c;
            font-size: 15px;
        }
    }
}
.estimate-total{
    margin-top: 15px;
    width: 480px;
    display: flex;
    justify-content: space-between;
    h4, strong{
        font-size: 20px;
        color: #000;
        font-weight: 600;
    }
}
.checkout-btn{
    margin-top: 35px;
    width: 480px;
    height: 60px;
    font-weight: 700;
    letter-spacing: 0.4px;
    background-color: #000;
    color: #fff;
    font-size: 19px;
    border: none;
    transition: .1s;
    &:hover{
        cursor: pointer;
        opacity: 0.7;
    }
}
.divider{
    padding-top: 20px;
}
.mySwiper{

    margin-top: 70px;
}
.swiper-wrapper{
    width: 100%;
    height: 400px;
    display: flex;
    overflow: hidden;
}
  
.tranding-slide{
    width: 400px;
    height: 500px;
    padding: 1rem;
    img{
        border-radius: 5px;
      width: 260px;
      height: 280px;
    }
}
.tranding-info{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3{
        font-size: 16px;
    }
    strong{
        font-size: 16px;
        color: red;
    }
}

.cart-features{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 322px;
    height: 173px;
    border: 1px solid #BDC1C5;
    border-radius: 5px;
    i{
        font-size: 50px;
    }
    h3{
        margin-top: 10px;
        font-size: 18px;
        font-weight: 700;
    }
    p{
        margin-top: 5px;
        font-size: 12px;
        letter-spacing: 0.5px;
        font-weight: 400;
    }
}

