.modal-overlay{
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    // background-color: rgb(59, 59, 59);
    backdrop-filter: blur(5px);
}