.single-product{
    margin: 4rem 0;
    width: 100%;
}

.single-carousel{
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    gap: 0 2rem;
    height:500px;

    .single-carousel__main{
        max-width: 450px;
        height: 550px;
        position: relative;   

        .navigation-carousel{
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            z-index: 2;
            display: flex;
            gap: 0 10px;

            button{
                background-color: var(--sg-color);
                border: none;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 10px;
                }
            }
        }
    }
}

.swiper-main-image{
    width: 100%;
    border-radius: 10px;
}
.swiper-thumbs{
    width: 80px;
    // gap: 30px;
    img{
        border-radius: 10px;
    }
    .swiper-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column !important;
        gap: 1rem 0;
        .swiper-slide{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            width: 100% !important;
            height: 80px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
    }

}


.product-actions{
    max-width: 440px;
    h1{
        font-size: 1.2rem;
        font-family: var(--pf-medium);
    }

    p{
        margin: 1.7rem 0;
        max-width: 320px;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
    }

    button{
        width: 100%;
    }
}

.mySwiper2 .swiper-wrapper{
    height: 450px;
}

.variants{
    margin-bottom: 2rem;
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(2, 100px);
        gap: 0.5rem 1rem;
    }
    h5{
        text-transform: capitalize;
        font-family: var(--pf-medium);
        font-size: 24px;
        margin-bottom: 20px;
    }
}


.product-variant{
     display: flex;
     align-items: center;
     justify-content: center;
     border: 1px solid lightgray;
     padding: 10px 0;
     cursor: pointer;
 
     &-active{
         border: 1px solid #222;
     }
 }



 .add-to-cart-wrapper{
    max-width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 60px !important;
    button{
        cursor: pointer;
        padding: 1rem 0;    
        width: 55px;
        height: 100%;
        border-radius: 60px;
    }
 }

 .likedby-wrapper{
    margin-top: 2rem;
    display: flex;
    gap: 0 5px;
    align-items: center;
 }


 .warning__size-text{
    margin-bottom: 1rem;
    border: 1px solid #ff0000;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    p{
        color: #ff0000;
        font-size: 14px;
        font-weight: 600;
    }
    i{
        color: #ff0000;
    }
 }