.sidebar{
    max-width: 300px;
    height: 100vh;
    background-color: #e5e5e5;
    padding: 2rem;
    flex: 1;
    box-sizing: border-box;
 
}
.sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    width: 100%;
    text-align: center !important;
    i{
        font-size: 30px;
    }
    h1{
       font-size: 26px;
        color: var(--dark-color);
        letter-spacing: 1.2px;
    }
}
.sidebar__list{
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    text-decoration: none;
    list-style: none;
    li{
       
        cursor: pointer;
        border-radius: 5px;

        &:hover{
            background-color: var(--sg-color);
        }

        .sidebar-link{
            display: flex;
            padding: 1rem;
            align-items: center;
            border-radius: 5px;
            text-decoration: none;


            &--active{
                background-color: var(--pd-color);
                color: var(--pl-color);
            }
        }

        svg{
            margin-right: 1rem;
            font-size: 1.4rem;
        }
    }
}

