.sidebar{
    width: 330px;
    height: 100vh;
    background-color: #e5e5e5;
    padding: 1rem 0;
 
}
.sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    width: 100%;
    text-align: center !important;
    i{
        font-size: 30px;
    }
    h1{
       font-size: 26px;
        color: var(--dark-color);
        letter-spacing: 1.2px;
    }
}
.sidebar-menu{
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    padding-left: 1rem;
    row-gap: 30px;
    flex-direction: column;
    list-style: none;
    li{
        transition: 0.2s;
        border-radius: 5px;
    .item-link{
        display: flex;
        align-items: center !important;
        column-gap: 10px;
        padding-left: 10px;
        color: var(--dark-color);
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        width: 220px;
        height: 50px;
        border-radius: 5px;
        i{font-size: 22px; margin-top: 4px;}
    }

}
}

.item-link--active{
    background-color: var(--dark-color);
    color: var(--light-color) !important;
}