.product{
    height: 100vh;
    // padding: 20px 5px;
    overflow: auto;
}
    .products__top-wrapper{
        position: sticky;
        background-color: var(--light-color);
        top: 5px;
        width: 100%;
    }
    .content__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        padding: 0px 20px 20px 5px;
        padding-top: 1rem;
        border-bottom: 1px solid rgb(174, 174, 174);
        h2{
            letter-spacing: 0.1px;
            font-size: 30px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .add__product-btn{
                padding: 10px 30px;
                border-radius: 10px;
                background-color: var(--dark-color);
                color: var(--light-color);
                border: none;
                font-size: 18px;
                letter-spacing: 0.3px;
                transition: 0.2s;
                cursor: pointer;
                &:hover{
                    opacity: 0.8;
                }
                &:active{
                    transform: scale(0.95);
                }
        }
    }
    .product__topnavigation-action{
        width: 100%;
        display: flex;
        align-items: center;
        .choose__category-select{
            height: 50px;
        }
    }
.product__searchbar-form{
    width: 100%;
    height: 50px;
    display: flex;
    column-gap: 10px;
    padding: 0px 5px;
    input{
        height: 100%;   
        flex: 1;
        border: 1px solid var(--dark-color);
        text-indent: 10px;
        font-size: 17px;
        font-family: var(--apple-font);
        outline: none;
        border-radius: 5px;
        transition: 0.2s;
        &:focus{
            box-shadow: 0 0 3px 1px var(--dark-color);
        }
    }
    button{
        border-radius: 5px;
        font-size: 18px;
        font-weight: 600;
        color: var(--light-color);
        background-color: var(--dark-color);
        padding: 0px 1.5rem;
        border: none;
        cursor: pointer;
        transition: 0.2s;
        &:hover{
            opacity: 0.8;
        }
    }
}

    .table-wrapper{
        width: 100%;
        overflow: auto;
        height: 100vh;
    }
.table{
    width: 100% !important;
}
.table__head-title{
    font-size: 20px !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.table__head-row{
    height: 100px;
}
.table-row:nth-child(odd){
    vertical-align: middle !important;
    background-color: #eee;
}
.table__product-item{
    font-weight: 600 !important;
    font-size: 16px !important;
    letter-spacing: .4px !important;
    font-family: var(--apple-font) !important;



}
.product-action{
    display: flex !important;
    align-items: center !important;
    column-gap: 10px;
    button{
        padding: 5px 10px;
        border-radius: 5px ;
        border: 1px solid var(--dark-color);
        color: var(--dark-color);
        background: transparent;
        transition: 0.2s;
        font-size: 14px;
        font-family: var(--apple-font);
        cursor: pointer;
     
    }
    .delete-btn{
        border: none;
        color: var(--light-color);
        background-color: red ;
        &:hover{opacity: 0.7;}
    }
 
}
.variants{
    display: flex;
    align-items: center; 
    span{
        margin: 0px 4px;
        border: 1px solid black;
        padding: 6px 7px !important;
        border-radius: 50%;
        font-size: 13px !important;
        transition: 0.2s;
        &:hover{
            cursor: pointer;
            background-color: var(--dark-color);
            color: var(--light-color);
        }
    }
}

.item-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}