.dashboard-table{
    width: 100%;

}

.dashboard-table {
    thead{
        height: 80px;
        tr{
            text-align: left;
            th{
                font-size: 24px !important;
            }
        }
    }
}