.table-wrapper{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.dashboard-table{
    width: 100%;
    border-collapse: collapse;

    thead{
        position: sticky;
        top: 0;
        background-color: var(--pd-color);
        color: #fff;
    }
    
    tr:nth-child(odd) td{
        background: var(--phl-color);
    }

    th{
        text-align: left;
        font-family: var(--pf-medium);
        font-size: 1.4rem;
        text-align: center;
        padding: 1rem 0 1rem 10px;
        &:first-child{
            text-align: left;
        }
    }

    td{
        text-align: center;
        vertical-align: middle;
        padding: 5px;
        &:first-child{
            text-align: left;
            padding-left: 10px;
        }
        img{
            object-fit: cover;
            object-position: top;
        }

        span{
            border: 1px solid var(--sf-color);
            margin: 0 5px;
            display: flex;
            min-width: 20px;
            font-size: 12px;
            height: 20px;
            padding: 0 0.5rem;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
        }

        .table-action__wrapper{
            display: flex;
            justify-content: center;
            gap: 0 20px;

            button{
                padding: 0.5rem 1rem;
            }

            .btn-warning{
                background-color: orange;
            }

            .btn-danger{
                background-color: red;
            }
        }

        .table-variant__wrapper{
            display: flex;
            justify-content: center;
        }
    }
}