:root{
    --inter-font:'Inter', sans-serif;
    --wood-color: #8a7350;
    --light-color: #ffffff;
    --dark-color: #000000;
    --gray-color: #dfe0e1;
    --primary-color: #0656B6;
    --apple-font:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    --helvaty-font: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
}
