:root{
    --inter-font:'Inter', sans-serif;
    --wood-color: #8a7350;
    --light-color: #ffffff;
    --dark-color: #000000;
    --gray-color: #dfe0e1;
    --primary-color: #0656B6;
    --helvaty-font: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
}
